{% extends "base.html" %}
{% load static %}
{% load media %}

{% block content %}
    <div class="container container-margin">
        <div class="row mb-5 left">
            <!-- Blog entries column -->
            <div class="col-lg-8 mt-3">
                {% for post in post_list %}
                <div class="card mb-4">
                    <!-- Title, author and date -->
                    <div class="card-header">
                        <a href="{% url 'post_detail' post.slug  %}" class="blog-card-header">
                            {{ post.title }}
                        </a>
                        <p class="card-text text-muted h6 small">{{ post.author }} | {{ post.created_on}} </p>
                    </div>
                    <div class="card-body">
                        <!-- Blog post text -->
                        <a href="{% url 'post_detail' post.slug  %}" class="card-text blog-body-text">
                            {{post.content|linebreaks|slice:":600" }}
                            <p>(Click to read more..)</p>
                            <br>
                        </a>
                         {% if request.user.is_superuser %}
                            <!-- Edit and delete links -->
                            <a href="{% url 'edit_post' post.slug  %}" class="edit-link">
                                Edit
                            </a> | 
                            <a href="{% url 'delete_post' post.slug %}" class="delete-link text-danger">
                                Remove
                            </a>
                        {% endif %}
                        <div class="float-end">
                            <p class="comment-count">
                                <i class="far fa-comment blog-comment"></i>{{ post.comments.count }}
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
            <!-- Sidebar -->
            <div class="col-lg-4 float-right ">
                <div class="my-4">
                    <!-- Add post button for superuser only -->
                    {% if request.user.is_superuser %}
                        <div class="text-center">
                            <a href="{% url 'add_post' %}" class="btn btn-sm btn-outline-primary text-uppercase mobile-btn">
                                Add Post
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                        <br>
                        <br>
                    {% endif %}
                    <!-- Image -->
                    <div class="blog-image text-center">
                        <img src="{% media 'blog-image.jpg' %}" alt="Hands working with clay"> 
                    </div>
                    <!-- Header and text -->
                    <h2 class="reenie-font text-center mt-3">Laura Day Blog</h2>
                    <p class="text-center about-blog-text mt-3">
                        Welcome to the Laura Day blog.
                        <br>
                        Here you get information about the latest events with Laura Day and future events and 
                        happenings. You also get an insight into how we work at the company. 
                        <br>
                        <br>
                        For the latest information on collection releases, follow us on facebook and instagram.
                    </p>
                    <!-- Social Links -->
                    <div class="text-center blog-social-links d-none d-lg-block">
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
