{% extends 'base.html' %}
{% block content %}

<div class="container container-margin">
    <div class="row mb-5">
        <!-- Back to all posts button -->
        <div class="col-12">
            <a href="{% url 'blog' %}" class="btn btn-sm btn-outline-primary text-uppercase mobile-btn">
                <i class="fas fa-arrow-left"></i>
                Blog Posts
            </a>
            <br>
            <br>
        </div>
        <!-- Blog Post -->
        <div class="col-lg-8 card mb-0  mt-3 left  top">
            <div class="card-body">
                <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
                <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
                <p class="card-text ">{{ object.content|linebreaks | safe }}</p>
            </div>
            {% if request.user.is_superuser %}
                <div class="card-footer">
                    <!-- Edit and delete links -->
                    <a href="{% url 'edit_post' post.slug  %}" class="edit-link">
                        Edit
                    </a> | 
                    <a href="{% url 'delete_post' post.slug %}" class="delete-link text-danger">
                        Remove
                    </a>
                </div>
            {% endif %}
        </div>
        <!-- Sidebar with image and text -->
        <div class="col-lg-4 float-right d-none d-lg-block">
            <div class="my-4">
                <div class="blog-image text-center">
                    <img src="{% media 'blog-image.jpg' %}" alt="Hands working with clay">
                </div>
                <h2 class="reenie-font text-center mt-3">Laura Day Blog</h2>
                <p class="text-center about-blog-text mt-3">
                    Welcome to the Laura Day blog.
                    <br>
                    Here you get information about the latest events with Laura Day and future events and
                    happenings. You also get an insight into how we work at the company.
                    <br>
                    <br>
                    For the latest information on collection releases, follow us on facebook and instagram.
                </p>
                <div class="text-center blog-social-links d-none d-lg-block">
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Comments section -->
    <div class="row">
        <div class="col-12">
            <h2 class="mb-5"><i class="far fa-comment"></i> {{ post.comments.count }} Comments:</h2>
        </div>
    </div>
    {% if not post.comments.all %}
        <p class="mb-5">No comments yet.. Be the first and <a href="{% url 'add_comment' post.slug %}">add a comment!</a></p>
    {% else %}
        {% for comment in post.comments.all %}
            <h5 class="comment-name">
                {{ comment.name }}
                <!-- Delete button only for superuser -->
                {% if request.user.is_superuser %}
                    <a href="{% url 'delete_comment' comment.id %}">
                        <i class="fas fa-trash-alt small text-danger"></i>
                    </a>
                {% endif %}
            </h5>
            <p class="text-muted small">{{ comment.date_added }}</p>
            <p>{{ comment.body }}</p>
            <hr class="comment-hr">
            <br>
        {% endfor %}
    {% endif %}
    <!-- Back to all posts button -->
    <div class="row mb-5">
        <div class="col-12">
                <a href="{% url 'blog' %}" class="btn btn-sm btn-outline-primary text-uppercase mobile-btn">
                    <i class="fas fa-arrow-left"></i>
                    Blog Posts
                </a>
            <div class="float-end">
                <a href="{% url 'add_comment' post.slug %}" class="btn btn-sm btn-outline-secondary text-uppercase mobile-btn mb-5">
                    Comment
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}