{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <!-- Banner text -->
    <div class="container-fluid header-container">
        <div class="row">
            <p class="banner-text text-center text-uppercase text-white">
                Get <strong><ins>free shipping</ins></strong> when you order over <strong>${{ free_delivery_threshold }}</strong>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2 bag-container">
        <!-- Heading text row -->
        <div class="row">
            <div class="col text-center">
                <h1 class="mb-4 text-uppercase">Shopping Bag</h1>
                <hr class="w-50 mb-1 mx-auto">
            </div>
        </div>
        <!-- Bag items row -->
        <div class="row">
            <div class="col">
                <!-- If products in shopping bag -->
                {% if bag_items %}
                    <br>
                    <br>
                    <!-- Products table -->
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <!-- Product image -->
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    </td>
                                    <!-- Product name and SKU -->
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <!-- Product price -->
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <!-- Product Quantity -->
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <!-- minus button -->
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm" data-item_id="{{ item.item_id }}"
                                                            id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <!-- plus button -->
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm" data-item_id="{{ item.item_id }}"
                                                            id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- Update link -->
                                        <a class="update-link text-info">
                                            <small>Update</small>
                                        </a>
                                        <!-- Remove link -->
                                        <a class="update-link text-danger remove-item remove-btn" id="remove_{{ item.item_id }}">
                                            <small>Remove</small>
                                        </a>
                                    </td>
                                    <!-- Product price -->
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <!-- Bag total and delivery cost -->
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <!-- Keep shopping button and Checkout button -->
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-secondary text-uppercase">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="" class="btn btn-outline-secondary text-uppercase">
                                        <span class="text-uppercase">Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                <!-- If shopping bag is empty -->
                {% else %}
                    <br>
                    <br>
                    <p class="lead mb-5 text-center">Your bag is empty.</p>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'products' %}" class="shop-button btn btn-outline-secondary text-uppercase">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}

    <script type="text/javascript">
        // Update quantity when update button is clicked
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove product and update page when remove button is clicked
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/remove/${itemId}/`;
            var data = { 'csrfmiddlewaretoken': csrfToken };

            $.post(url, data)
             .done(function() {
                 location.reload();
             })
        })
    </script>
{% endblock %}