{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- content container -->
    <div class="container-fluid">
        <!-- Hero image with link to shop -->
        <div class="index-hero row h-100 my-auto no-gutters">
            <div class="col text-center">
                <div class="index-hero-content">
                    <h1 class=" text-white reenie-font display-1">Laura day</h1>
                    <a href="#" class="shop-button btn btn-outline-secondary text-uppercase">
                        Shop Collection
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="about-image">
                    <img src="media/about-img-small.png" alt="Hands working with clay"> 
                </div>
            </div>
            <div class="col-sm-6 about-col">
                <h3 class="text-uppercase">About</h3>
                <hr class="heading-hr">
                <p>
                    Laura's work is noted for its timelessness and minimalism. The inspiration comes from 
                    the Mediterranean and the Middle East, which is reflected in the muted colors and imperfect 
                    features of each ceramic piece and artwork. 
                    <br>
                    <br>
                    Laura strives to create timeless collections to make each home unique with a long-term 
                    perspective. 
                    <br>
                    <br>
                    Read more about Laura's work on the blog. 
                    <br>
                    <br>
                    <div class="center-buttons">
                        <a href="#" class="btn btn-outline-secondary text-uppercase">Visit blog</a>
                    </div>
                </p>
            </div>
        </div>
    </div>
{% endblock %}