{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- content container -->
    <div class="container">
        <!-- Hero image with link to shop -->
        <div class="row h-100 my-auto">
            <h1 class="text-center text-white reenie-font">Laura day</h1>
            <div class="my-4">
                <h4>
                    <a href="" class="shop-button btn btn-lg text-uppercase py-2">
                        Shop Collection
                    </a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}