{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- Banner text -->
    <div class="container-fluid header-container">
        <div class="row">
            <p class="banner-text text-center text-uppercase text-white">
                Get <strong><ins>free shipping</ins></strong> when you order over <strong>${{ free_delivery_threshold }}</strong>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- content container -->
    <div class="container-fluid">
        <!-- Hero image with link to shop -->
        <div class="index-hero row h-100 my-auto no-gutters">
            <div class="col text-center">
                <div class="index-hero-content">
                    <h1 class=" text-white reenie-font display-1">Laura day</h1>
                    <a href="{% url 'products' %}" class="shop-button btn btn-outline-secondary text-uppercase">
                        Shop Collection
                    </a>
                </div>
            </div>
        </div>
        <!-- About section -->
        <div class="row">
            <div class="col-md-6">
                <div class="about-image">
                    <img src="media/about-img-small.png" alt="Hands working with clay"> 
                </div>
            </div>
            <div class="col-md-6 about-col">
                <h3 class="text-uppercase text-center">About</h3>
                <hr class="heading-hr">
                <p>
                    Laura's work is noted for its timelessness and minimalism. The inspiration comes from 
                    the Mediterranean and the Middle East, which is reflected in the muted colors and imperfect 
                    features of each ceramic piece and artwork. 
                    <br>
                    <br>
                    Laura strives to create timeless collections to make each home unique with a long-term 
                    perspective. 
                    <br>
                    <br>
                    Read more about Laura's work on the blog. 
                    <br>
                    <br>
                    <div class="center-buttons">
                        <a href="{% url 'blog' %}" class="btn btn-outline-secondary text-uppercase">Visit blog</a>
                    </div>
                </p>
            </div>
        </div>
        <!-- Info section -->
        <div class="row index-info-section">
            <div class="col-sm-4 index-info-col">
                <i class="fas fa-leaf"></i>
                <p>
                    All our products are made with environmentally friendly materials.
                </p>
            </div>
            <div class="col-sm-4 index-info-col">
                <i class="fas fa-truck-moving"></i>
                <p>
                    Free shipping on all orders over $50.
                    All our shipping options are climate-compensated.
                </p>
            </div>
            <div class="col-sm-4 index-info-col">
                <i class="fas fa-envelope"></i>
                <p>
                    For larger orders of our ceramics, please fill out the contact form here.
                </p>
            </div>
        </div>
    </div>
{% endblock %}