html {
    height: 100vh !important;
}

body {
    height: calc(100vh - 164px) !important;
    padding-top: 75px;
}

.the-navbar {
    background-color: #82906C !important;
    height: 75px;
}

.index-hero {
    background: url('/media/index-hero.jpeg') no-repeat center center;
    background-size: cover;
    height: 100vh !important;
}