/* ------------------------------------------- Fonts */
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.reenie-font {
    font-family: "Reenie Beanie", sans-serif;
}

/* ------------------------------------------- Html and body elements */
html {
    height: 100vh !important;
}

body {
    min-height: 100vh;
    padding-top: 88px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------- Header */
.the-navbar {
    background-color: #82906C !important;
}

.logo-text {
    text-decoration: none !important;
    font-size: 38px;
}

.nav-right {
    text-align: right !important;
}

.search-container {
    width: 280px !important;
}

.main-navbar {
    flex-direction: row;
}

.main-navbar li {
    padding-left: 30px;
    padding-top: 10px;
}

.main-navbar li a {
    color: black;
}

.shop-menu {
    margin: 17px;
}

.shopping-bag a {
    color: #fff !important;
}

/* Collapsed navbar */
.mobile-shop-dropdown {
    background-color: #82906C;
}

/* ------------------------------------------- Footer */

footer {
    margin-top: auto;
}

.payment-icons {
    font-size: 45px;
}

.footer-col-1 {
    background-color: #4A513D !important;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.footer-col-2 {
    background-color: #82906C !important;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.footer-hr {
    width: 40%;
    text-align:center;
    margin: 0 auto;
}

.footer-links ul {
    list-style-type: none;
    padding-left: 0px;
}

.footer-links ul a {
    text-decoration: none;
    color: #fff;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    padding-right: 10px;
}

.footer-logo {
    font-size: 45px;
}


/* ------------------------------------------- toast messages */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-header {
    justify-content: space-between;
}

.btn-light {
    background-color: white !important;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-bottom: 10px solid white;
    position: absolute;
    top: -10px;
    right: 28px;
}

.notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bg-secondary {
    background-color: #82906C !important;
    color: white !important;
}

.btn-black {
    background-color: #9E532E !important;
    color: white;
}

.btn-black:hover {
    color: white !important;
}


/* ------------------------------------------- buttons */

.center-buttons {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.btn-outline-secondary {
    letter-spacing: 3px;
    color: #9E532E !important;
    border-color: #9E532E !important;
}

.btn-outline-secondary:hover {
    color: #fff !important;
    border-color: #9E532E !important;
    background-color: #9E532E;
}

.update-link,
.remove-item {
    cursor: pointer;
    text-decoration: none;
}

.btn-outline-primary {
    letter-spacing: 3px;
    color: #fff !important;
    border-color: #9E532E !important;
    background-color: #9E532E;
}

.btn-outline-primary:hover {
    color: #fff !important;
    border-color: #9E532E !important;
    background-color: #9E532E;
}

/* ------------------------------------------- Index.html */
.index-hero {
    background: url('/media/index-hero.jpeg') no-repeat center center;
    background-size: cover;
    height: 100vh !important;
    position: relative;
    margin-top: 55px !important;
}

.index-hero-content {
    position: absolute;
    top: 50%;
    left: 38%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.about-image img {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0px 40px 0px;
}

.about-col {
    padding: 40px 40px 40px 40px;
}

.index-info-section {
    background-color: #D6C5AB;
    padding: 70px;
    text-align: center;
}

.index-info-col i {
    font-size: 34px;
    padding-bottom: 20px;
}

.index-info-col p {
    font-size: 18px;
}


/* ------------------------------------------- Products.html */

.header-container {
    position: fixed;
    width: 100% !important;
    background-color: #9E532E;
    padding-top: 15px;
    z-index: 10;
    margin-bottom: 0px;
}

.current-name {
    color: black !important;
    text-transform: uppercase;
}

.card a img {
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.price-text {
    font-weight: bold;
}

.card-footer {
    padding-bottom: 40px;
}

.container-margin {
    margin-top: 3rem;
}

.all-products-link a {
    text-decoration: none !important;
    color: black;
    text-transform: uppercase;
}


/* ------------------------------------------- product_details.html */

.image-container a img {
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}

.qty-button {
    font-size: small;
}


/* ------------------------------------------- bag.html */
.bag-container {
    min-height: 100vh !important;
    margin-top: 55px;
    padding-top: 15px;
}

.text-right {
    text-align: right !important;    
}

.remove-btn {
    float: right;
}

.text-secondary {
    color: green !important;
}


/* ------------------------------------------- Allauth templates */
.container-view {
    height: 100vh;
}

.allauth-col {
    padding: 20px;
    border-style: solid;
    border-width: thin;
    border-color: #82906C;
    border-radius: 10px;
}


/* ------------------------------------------- Media Queries */

/* Max width 480px */
@media screen and (max-width: 480px) {
    .allauth-col {
        border-style: none;
    }
}

/* Max width 992px */
@media screen and (max-width: 992px) {

    body {
        padding-top: 80px;
    }

    .index-info-section {
        padding: 40px;
    }

    .index-info-col i {
    font-size: 24px;
    padding-bottom: 20px;
    }

    .index-info-col p {
        font-size: 16px;
    }

    .about-image img {
        padding: 40px 0px 0px 0px;
    }
}

/* Max width 600px */
@media screen and (max-width: 600px) {
    .index-hero-content {
        top: 50%;
        left: 25%;
    }

    .about-image img {
        width: 275px;
    }

    .about-col p {
        font-size: 16px;
    }
}
