/* ------------------------------------------- Fonts */
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.reenie-font {
    font-family: "Reenie Beanie", sans-serif;
}

/* ------------------------------------------- Html and body elements */
html {
    height: 100vh !important;
}

body {
    height: calc(100vh - 164px) !important;
    padding-top: 88px;
    font-family: "Open Sans", sans-serif;
}

/* ------------------------------------------- Header */
.the-navbar {
    background-color: #82906C !important;
}


/* ------------------------------------------- Footer */

.payment-icons {
    font-size: 45px;
}

.footer-col-1 {
    background-color: #4A513D !important;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}

.footer-col-2 {
    background-color: #82906C !important;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}

.footer-hr {
    width: 40%;
    text-align:center;
    margin: 0 auto;
}

.footer-links ul {
    list-style-type: none;
    padding-left: 0px;
}

.footer-links ul a {
    text-decoration: none;
    color: #fff;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    padding-right: 10px;
}

.footer-logo {
    font-size: 45px;
}

/* ------------------------------------------- Index.html */
.index-hero {
    background: url('/media/index-hero.jpeg') no-repeat center center;
    background-size: cover;
    height: 100vh !important;
}


/* ------------------------------------------- Media Queries */
