<!-- Collapsed navbar -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- My Account with dropdown links -->
        <li class="nav-item dropdown ">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="myAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
            </a>
            <div class="dropdown-menu mobile-shop-dropdown border-0" aria-labelledby="myAccount">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="#" class="dropdown-item text-white">Product Management</a>
                    {% endif %}
                    <a href="#" class="dropdown-item text-white">My Profile</a>
                    <a href="#" class="dropdown-item text-white">Logout</a>
                {% else %}
                    <a href="#" class="dropdown-item text-white">Register</a>
                    <a href="#" class="dropdown-item text-white">Login</a>
                {% endif %}
            </div>
        </li>
        <!-- Shop with dropdown links -->
        <li class="nav-item dropdown ">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu mobile-shop-dropdown border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item text-white">All products</a>
                <a href="{% url 'products' %}?category=ceramics" class="dropdown-item text-white">Ceramis</a>
                <a href="{% url 'products' %}?category=artwork" class="dropdown-item text-white">Artwork</a>
            </div>
        </li>
        <!-- Blog link -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#">
                Blog
            </a>
        </li>
        <!-- Contact link -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#">
                Contact
            </a>
        </li>
    </ul>
</div>