{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid error-container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h3 class="text-uppercase mt-5">Error (404)</h3>
                <p>The page you where looking for does not exist.</p>
                <br>
                <br>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'home' %}" class="btn btn-outline-primary text-uppercase">
                        Home
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}