{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- Banner text -->
    <div class="container-fluid header-container">
        <div class="row">
            <p class="banner-text text-center text-uppercase text-white">
               Get <strong><ins>free shipping</ins></strong> when you order over <strong>${{ free_delivery_threshold }}</strong>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid container-margin">
        <!-- Row with products heading text -->
        <div class="row">
            <div class="col text-center mt-3">
                <h1 class="text-uppercase">Products</h1>
                <hr class="w-50 mb-1 mx-auto">
                {% for current in current_categories %}
                    <br>
                    <h6 class="p-2 mt-1 current-name">{{ current.name }}</h6>
                    <br>
                    <br>
                {% endfor %}
            </div>
        </div>
        <!-- Row with product container -->
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12">
                        <p class="text-muted mt-3 text-left">
                            {% if search_term or current_categories != 'None_None' %}
                                <span class="all-products-link"><a href="{% url 'products' %}">All products </a>|</span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>{{ search_term }}</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <!-- Product image -->
                                {% if product.image %}
                                    <a href="{% url 'product_details' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_details' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}testimage.jpg" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                                <!-- Product name -->
                                <div class="card-body pb-0">
                                    <p class="mb-0 text-uppercase">{{ product.name }}</p>
                                </div>
                                <!-- Product price and category -->
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="mb-0 text-left price-text">${{ product.price }}</p>
                                            {% if product.category %}
                                                <p class="small mt-1 mb-0">
                                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                        <i class="fas fa-tag mr-1"></i>{{ product.category.name }}
                                                    </a>
                                                </p>
                                            {% endif %}
                                            <!-- Edit and delete buttons for superuser only -->
                                            {% if request.user.is_superuser %}
                                                <hr class="w-100">
                                                <small class="ml-3 edit-delete">
                                                    <a class="edit-link" href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <a class="delete-link text-danger" href="{% url 'delete_product' product.id %}">Remove</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12 mb-5 text-center pagination-links">
                        <!-- Previous page link -->
                        {% if products.has_previous %}
                            <a href="{% url 'products' %}{% if not current_categories %}?page={% else %}?category={{ current_categories.0 }}&page={% endif %}{{products.previous_page_number}}" class="link-black">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        {% endif %}
                        Page {{ products.number }} of {{ products.paginator.num_pages }}
                        <!-- Next page link -->
                        {% if products.has_next %}
                            <a href="{% url 'products' %}{% if not current_categories %}?page={% else %}?category={{ current_categories.0 }}&page={% endif %}{{products.next_page_number}}" class="link-black">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}